.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    align-items: center;
    height: 100%;
}

@mdeia (min-width: 500px) {
    .NavigationItems {
        display: flex;
    }
}
